 <!--INDEX VIEW-->


   
        <div class="background-container">
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
                
                
                <div class="content">
                  <div class="pull-middle">
                    <h1 class="page-header">Manage your job hunt networking contacts easily and get hired.</h1>
                    <p class="lead">WorkBox™ keeps track of each of your encounters instantly.</p>
                                <div class="input-group">
                                      <a class="btn btn-success btn-circle" href="/users/signup">Sign Up</a>
                                      <a href="/sessions/login"><button type="button" class="btn btn-danger navbar-btn btn-circle">Log in</button></a>
                                </div>
                  </div>              
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                <div class="phone">
                    <img class="img-responsive img-rounded" src="https://image.freepik.com/free-vector/business-handshake_23-2147506280.jpg">
                </div>
            </div>
          </div>
        </div>
  
    <!--END OF INDEX VIEW-->