<h1>Edit Contact</h1>
<div id="edit-contact-form">
	<form action="/{{user.id}}/contacts/{{contact.id}}?_method=PUT" method="POST">
	   <div id="add-contact-image">
	   <div>
	    <label for="img">Copy + Paste Image url to Update Image:</label>
	    <input type="text" name="img">
	  </div>
	  	</div>
	   <div>
	    <label for="title">Job Title:</label>
	    <input type="text" name="title">
	  </div>
	   <div>
	    <label for="company">Company:</label>
	    <input type="text" name="company">
	  </div>
	   <div>
	    <label for="email">Email:</label>
	    <input type="text" name="email">
	     <div>
	    <label for="phone">Phone Number:</label>
	    <input type="text" name="phone">
	  </div> 
	<div>
	    <label for="notes">Update Contact Notes:</label>
	    <input type="text" name="notes">
	  </div> 
	  <div>
	    <input type="submit" value="Update Contact">
	  </div>
	</form>
		<button><a href="/users/{{user.id}}">Cancel</a></button>
</div>