<div>
	<a href="site-map.html" onclick="history.go(-1)">Back</a>
</div>

<h1>Delete Your Account</h1>
<h3>Enter your login information to confirm deleting your account:</h3>

<p>Warning: Submitting this form will permanently delete your WorkBox account and you will not be able to recover any of your contacts.</p>
<br>
<form action="/users/{{user.id}}?_method=DELETE" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password">
  </div>
  <input type="submit" value="Delete Account">
</form>
