<h1>Login</h1>
<form action="/sessions/login" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password">
  </div>
  <input type="submit" value="Submit">
</form>
<div>
<a href="/users/signup" class="btn btn-default">Not A User? Sign Up Here</a>
<a href="/" class="btn btn-danger">Return Home</a>
</div>