<!-- <form action="/users" method="post">
     <div>
        <label for="userFirstName">First Name: </label>
        <input type="text" name="userFirstName">
    </div>

    <div>
        <label for="userLastName">Last Name: </label>
        <input type="text" name="userLastName">
    </div>

    <div>
        <label for="email">email</label>
        <input type="text" name="email">
    </div>

    <div>
        <label for="password">password</label>
        <input type="text" name="password">
    </div>

    <input type="submit" value="Submit">
</form>

<br>


<div>
  <a href="/session/login" class="btn btn-success">Already A User? Log In Here</a>
</div>
 -->
<!-- BEGINNING OF SIGNUP VIEW-->
    <div class="background-container">
      <div class="row" style="margin-bottom:50px;">
        <div class="col-md-5 col-md-offset-7">
            <form action="/users" method="post" class="form" role="form" autocomplete="off">
                <legend style="font-family:"helvetica",sans serif;">Sign Up</legend>
                <h4>Don't just network. Build relationships.</h4>
                <input style="border-radius:2px;" type="text" name="userFirstName" value="" class="form-control input-lg" placeholder="Your First Name"  />
                <input style="border-radius:2px;" type="text" name="userLastName" value="" class="form-control input-lg" placeholder="Your Last Name"  />
                <input style="border-radius:2px;" type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email" autocomplete="off"/>
                <input style="border-radius:2px;" type="password" name="password" value="" class="form-control input-lg" placeholder="Password" autocomplete="off"/>
                <span class="help-block">By clicking "Sign up for WorkBox", you agree to our Terms of Service.</span>
                <button style="border-radius:2px;" class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Sign up for WorkBox</button>
           </form>         
           <br>
                <div>
                  <a href="/sessions/login" class="btn btn-danger">Already A User? Log In Here</a>
                </div>
          </div>
       </div> 
    </div>
    <!-- END OF SIGNUP VIEW -->