<h1>WorkBox</h1>
<h2>Job Search Relationship Manager</h2>
<img src="https://image.freepik.com/free-vector/business-handshake_23-2147506280.jpg">
<br>
<h3>Sign Up or Log In to begin managing your job search contacts!</h3>
<div>
	<a class="btn" href="/users/login">Log In</a>
	<a class="btn" href="/users/signup">Sign Up</a>
</div>
